[Unit]
Description=Borg Backup
After=network-online.target

[Service]
Type=oneshot
User=root

# Security hardening
NoNewPrivileges=yes
PrivateTmp=yes
ProtectSystem=strict
ProtectHome=read-only
ProtectKernelTunables=yes
ProtectKernelModules=yes
ProtectControlGroups=yes
RestrictRealtime=yes
RestrictAddressFamilies=AF_UNIX AF_INET AF_INET6
LockPersonality=yes
MemoryDenyWriteExecute=yes
SystemCallFilter=@system-service
SystemCallArchitectures=native
PrivateDevices=yes
PrivateUsers=yes
RemoveIPC=yes
RestrictSUIDSGID=yes
CapabilityBoundingSet=CAP_DAC_READ_SEARCH CAP_CHOWN CAP_FOWNER CAP_FSETID CAP_SETGID CAP_SETUID CAP_SYS_ADMIN

# Required write paths
ReadWritePaths=/root/.config/borg /root/.cache/borg /var/log/borg /var/borg

[Install]
WantedBy=multi-user.target